.product {

    margin-bottom: 30px;

    &__container {
        display: flex;
        justify-content: space-between;
        max-width: 855px;

    }

    &__about {
        display: flex;
        flex-direction: column;
        max-width: 400px;

        h2 {
            margin-bottom: 20px;
        }

        p {
            text-align: left;
            margin-bottom: 16px;
        }
    }

    &__image {
        max-width: 400px;

        img {
            width: 100%;
        }
    }
}