.header {
    text-align: center;
    color: #FFF;
    padding: 50px 25px 85px;

    &__main {
        background: url('../../assets/img/bg/main_bg.png') no-repeat center/cover;
        padding-bottom: 200px;
        margin-bottom: 80px;
    }

    &__products {
        background: url('../../assets/img/bg/coffee_bg.png') no-repeat center/cover;
        margin-bottom: 70px;
    }

    &__beans {
        background: url('../../assets/img/bg/beans_bg.png') no-repeat center/cover;
        margin-bottom: 70px;
    }

    .promo {

        &__title {
            margin-bottom: 20px;
            text-shadow: 0 4px 4px rgba(0, 0, 0, .25);
            font-weight: 700;
            font-size: 2.5rem;
            line-height: 44px;
        }

        &__subtitle {
            margin-bottom: 20px;
            font-weight: 700;
            font-size: 1.5rem;
            line-height: 27px;
        }

        &__button {
            display: inline-block;
            font-size: 0.875rem;
            font-weight: 700;
            text-decoration: none;
            color: #FFF;
            padding: 8px 42px;
            border: 1px solid #FFF;
            border-radius: 3px;
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
            transition: all 0.3s ease-in-out;

            &:hover {
                background-color: #FFF;
                color: #000
            }
        }
    }

}

@media (max-width: 767px) {
    .header {
        .promo {
            &__title {
                margin-top: 110px;
            }
        }
    }
}